* {
    padding: 0;
    border: 0;
    margin: 0;
}

.container {
    width: 650px;
    margin: 15px auto 15px auto;
    font-family: 'Asap', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E32E1C;
}

li {
    float: left;
    margin-left: 55px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:#4CAF50;
}

header {
    text-align: center;
    font-size: 35px;
    font-family: 'Schoolbell', cursive;
}

.home h1 {
    text-align: center;
    margin-top: 30px;
}

main h1 {
    font-size: 40px;
    padding: 10px 5px;
    font-family: 'Schoolbell', cursive;
}

main h2 {
    font-size: 20px;
    padding: 3px 0;
}

main h3 {
    font-size: 18px;
    padding: 3px 0;
}

main p {
    padding: 5px 10px 10px 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}